body {
    background-color: aqua;
}
h1 {
    color: brown;
}
h2 {
    color: midnightblue;
}
p {
    color: rgb(33, 2, 2);
}
h3 {
    color: rgb(91, 4, 4);
}
hr {
    color: black;
}